<mat-card>
  <mat-card-content>
    <section>
      <mat-form-field>
        <input matInput placeholder="Your name" [(ngModel)]="name">
      </mat-form-field>
    </section>
    <section>
      <app-name [name]="name"></app-name>
    </section>
  </mat-card-content>
</mat-card>