<div>
  <button mat-button color="primary" (click)="stopwatch.start()">Start</button>
  <button mat-button color="accent" (click)="stopwatch.stop()">Stop</button>
  <button mat-button color="warn" (click)="stopwatch.clear()">Clear</button>
</div>

<app-timer #stopwatch>
</app-timer>

<div>
  <button mat-button color="primary" (click)="start()">Start</button>
  <button mat-button color="accent" (click)="stop()">Stop</button>
  <button mat-button color="warn" (click)="clear()">Clear</button>
</div>

<p #myP>Hi</p>

<app-timer #stopwatch2>
</app-timer>

