<!-- <app-input-binding 
  name="Bob" 
  othername="Marcos"
  [age]="age">
</app-input-binding> -->

<!-- <app-event></app-event> -->

<!-- <app-clients></app-clients> -->

<!-- <app-parent-child></app-parent-child> -->

<!-- <app-on-changes></app-on-changes> -->

<app-intercepting></app-intercepting>